* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
}

/*Estilização Container Laranja: Sendans*/
.container-sedans {
  padding: 40px 45px;
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
  max-width: 11.8em;
  flex-basis: 100%
}

.icon-sedans {
  margin-top: 3.4px;
  height: 2.5rem;
}

.headings-sedans {
  font-family: 'Big Shoulders Display', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 30px;
  font-size: 2.4em;
}

.paragraph-sedans {
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 22px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.button-sedans {
  margin-top: 58px;
  
  background-color:  hsl(0, 0%, 95%);

  height: 3.5em;
  width: 10em;
  border: none;
  border-radius: 30px;


  font-size: 14px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(31, 77%, 52%);
}
.button-sedans:hover{
  border: solid 2px hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%) ;
  color: hsl(0, 0%, 95%);
}


/*Estilização Container azul-esverdeado: SUVS*/
.container-suvs {
  padding: 40px 45px;
  background-color:  hsl(184, 100%, 22%);
  max-width: 11.8em;
  flex-basis: 100%
}

.icon-suvs {
  margin-top: 3.4px;
  height: 2.5rem;
}

.headings-suvs {
  font-family: 'Big Shoulders Display', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 30px;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.paragraph-suvs {
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 22px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.button-suvs {
  margin-top: 58px;
  
  background-color:  hsl(0, 0%, 95%);

  height: 3.5em;
  width: 10em;
  border: none;
  border-radius: 30px;


  font-size: 14px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(184, 100%, 22%);
}
.button-suvs:hover{
  border: solid 2px hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%) ;
  color: hsl(0, 0%, 95%);
}

/*Estilização Container Verde Escuro: Luxury*/
.container-luxury {
  padding: 40px 45px;
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
  max-width: 12.8em;
  flex-basis: 100%
}

.icon-luxury {
  margin-top: 3.4px;
  height: 2.5rem;
}


.headings-luxury {
  font-family: 'Big Shoulders Display', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 30px;
  font-size: 2.4em;
}

.paragraph-luxury {
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 22px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5rem;
  font-size: 0.9rem;
}


.button-luxury {
  margin-top: 58px;
  
  background-color:  hsl(0, 0%, 95%);

  height: 3.5em;
  width: 10em;
  border: none;
  border-radius: 30px;


  font-size: 14px;
  font-family: 'Lexend Deca', sans-serif;
  color:hsl(179, 100%, 13%);

  /*transition:  400ms;*/
}
.button-luxury:hover{
  border: solid 2px hsl(0, 0%, 95%);
  background-color:hsl(179, 100%, 13%) ;
  color: hsl(0, 0%, 95%);
}


@media screen and (max-width: 1020px) {
  body {
    
    margin: 0 10px;
  }
  main {
    display: flex;
    flex-direction: column;
    max-width: 17em;
  }
  

  /*ESTILIZAÇÃO MOBILE: SEDANS - LARANJA*/
  .container-sedans {
    margin-top: 80px;
    border-radius: 10px 10px 0 0 ;
    
  }
  .button-sedans {
    margin-top: 30px;
  }
  
 /*ESTILIZAÇÃO MOBILE: SUVS - AZUL ESVERDEADO*/
 .button-suvs {
   margin-top: 30px;
 }

 /*ESTILIZAÇÃO MOBILE: SUVS - VERDE ESCURO*/

 .container-luxury {
   border-radius: 0 0 10px 10px ;
   margin-bottom: 80px;
}
 
 .button-luxury {
    margin-top: 30px;
  }
}